.add-appartment {
  border: 2px dashed #ccc;
  height: 100%;
  text-align: center;
  background-color: transparent !important;
  position: relative;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease;
}
.add-appartment:hover {
  text-decoration: none;
  border: 2px dashed #777;
  color: #000;
 }
.add-appartment .add-inner {
  margin-top: 50%;
  transform: translateY(-50%);
  text-transform: capitalize;
}

.viedo {position: relative;}
.viedo iframe {
  width: 100%;
  height: 500px;
  display: block;
}
.viedo .btn {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: #fff;
  color: #2c343f;
  padding: 10px 35px;
  font-weight: 300;
  letter-spacing: .3px;
  font-size: 17px;
  transition: all .2s ease;
}

.viedo .btn:hover {
  background-color: #2c343f;
  color: #fff;
}
.about-block {
  background-color: #009aae;
  padding: 15px;
}
.about-block h3 {
  color: #fff;
  letter-spacing: .3px;
  font-weight: 500;
  margin: 60px 0 6px 0;
}
.about-block p {
  color: #fff;
  font-weight: 200;
  letter-spacing: .3px;
}
.majors {
  padding: 50px 0;
}
.title {
  color: #333;
  letter-spacing: .3px;
  font-weight: 500;
  margin-bottom: 30px;
}
.title em {
  font-size: 17px;
  color: #666;
}

.department {
  /* margin-top: 30px; */
}
.features {
  padding: 50px 0;
}
.features .fea-item {
  border: 1px solid #e6e6e6;
  padding: 20px;
  box-shadow: 0px 3px 7px 0px #ccc;
  transition: all .2s ease;
}
.features .fea-item:hover {
  box-shadow: 0px 4px 16px 0px #ccc;
  transform: translateY(-2px);
}
.features .fea-item i {
  font-size: 30px;
  margin-bottom: 12px;
  display: inline-block;
  color: #009aae;
}
.features .fea-item h4 {
  font-weight: 400;
  color: #000;
  letter-spacing: .3px;
  margin-bottom: 5px;
}

.team {
  padding: 50px 0;
}
.team .team-block {
  margin-bottom: 15px;
}
.team .desc {
  padding: 10px 0;
}
.team .desc h4 {
  font-weight: 400;
  letter-spacing: .3px;
  font-size: 17px;
  color: #333;
  margin-bottom: 1px;
}
.team .desc strong {
  font-weight: 700;
  color: #555;
}

.team .desc p {
  letter-spacing: .3px;
  color: #999;
  line-height: 1.3;
  font-size: 13px;
  margin-top: 10px;
  overflow: hidden;
  height: 35px;
}
.team .desc a {
  padding: 0 15px 0 0;
  color: #666;
  transition: all .2s ease;
}
.team .desc ul {
  /* border-top: 1px solid #009aae; */
  padding-top: 5px;
}
.team .desc a:hover {
  color: #009aae;
  background-color: transparent;
}
.team .img-container {
  max-height: 260px;
}
.team .ceo {
  /* width: 40%; */
  margin: 15px 0;
}


footer {
  background-color: #202020;
  padding: 50px 0;
}
footer h3 {
  color: #fff;
  font-weight: 400;
  letter-spacing: .5px;
  margin-bottom: 15px;
}
footer p {
  font-weight: 200;
  color: #ccc;
}
footer a {
  text-decoration: none;
  font-weight: 200;
  color: #ccc;
  width: 49%;
  display: inline-block;
  margin-bottom: 5px;
}
footer i {
  margin-right: 5px;
}
footer .copyright {
  font-weight: 300;
  color: #848383;
  margin: 0;
  padding-top: 10px;
  border-top: 1px solid #3e3e3e;
  margin-top: 20px;
}






/* end */
